{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/hostlist.css' %}" rel="stylesheet">
{% endblock %}
{% block mainbody %}
<div class="form-group pull-right">
    <input type="text" class="search form-control" placeholder="What you looking for?">
</div>
<span class="counter pull-right"></span>
<table class="table table-hover table-bordered results">
  <thead>
      <tr>
         <th><a href="#" onclick="checkall()">全选</a><span>||</span><a href="#" onclick="reverse()">反选</a>(<span id="numofselect">0</span>)</th>
         <th>ip</th>
         <th>主机名</th>
         <th>区域</th>
         <th>CPU</th>
         <th>内存</th>
         <th>文件系统</th>
      </tr>
      <tr class="warning no-result">
         <td colspan="7"><i class="fa fa-warning"></i> No result</td>
      </tr>
  </thead>
  <tbody id="hosttbody">

  </tbody>
</table>


{% endblock %}
{% block script %}
        <script rel="stylesheet" src="{% static 'js/hostlist.js' %}"></script>
{% endblock %}
